.login-button {
  background-color: $primary !important;
  border: none !important;
}
#login-dropdown-list {
  left: -100%;
  .login-close-text {
    text-align: center;
  }
}

#login-name-link {
  font-size: 1.5em;
  text-decoration: none !important;
}

#signup-link {
  color: $primary;
}

#login-buttons-password, #login-buttons-do-change-password, #back-to-login-link, #login-buttons-cancel-change-password, #login-buttons-open-change-password, #login-buttons-logout {
  &:hover {
    background-color: $primary;
    border: 1px solid ligthen($primary, 10%);
    color: white;
  }
}

#login-sign-in-link {
  text-decoration: none !important;
}
