nav {
  background-color: $primary;
  height: 64px;
  a {
    font: 300 2em $font-stack;
    margin-top: 0.25em;
  }
  ul {
    li {
      height: 64px;
      &:hover {
        background-color: lighten($primary, 20%)
      }
    }
    li a {
      font: 300 1.5em $font-stack;
      margin-top: 1rem;
    }
  }
}

.side-nav {
  margin-right: 10%;
}

.brand-logo {
  @media screen and (min-width: $break-mobile) {
    margin-left: 10%;
  }
  @media screen and (max-width: $break-mobile) {

  }
}
