<template name="navbar">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        Project Novo
      </a>
      <div class="right side-nav">
        <ul id="nav-mobile">
          <li>
            <form id="search-nav">
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="mdi-action-search"></i></label>
              </div>
            </form>
          </li>
          <li>
            <a href="{{pathFor 'about'}}">About</a>
          </li>
          <li>
            {{#if currentUser}}
              <a href="{{pathFor 'login'}}">{{userEmail}}</a>
            {{else}}
              <a href="{{pathFor 'login'}}">Login</a>
            {{/if}}
          </li>
        </ul>

      </div>

    <!--   <ul id="nav-mobile" class="right side-nav">
      <li><a href="{{pathFor 'about'}}">About</a></li>

    </ul> -->
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>
