.side-nav {
  margin-right: 10%;
}

@media only screen and (min-width: 993px) {
  .brand-logo {
    margin-left: 10%;
  }
}

.lead {
  margin-top: 2rem;
}

/* Navbar background color */
/* nav {
  background-color: #424242;
} */

/* Navbar hover over color */
/* nav ul li:hover, nav ul li.active {
background-color: #ea454b;
} */

/* Radio buttons color */
/* [type="radio"]:checked + label:after {
  border: 2px solid #ea454b;
  background-color: #ea454b;
} */
